body{
    background-color: #2A2A2AFF;
    color: #FFFFFFFF;
}

img{
    width: 5%;
    height: 5%;
    filter:invert(100%);
}


.link{
    color: #FFFFFFFF;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.linkAuteurs{
    color: #FFFFFFFF;
    text-decoration: none;
}

.linkAuteurs:hover{
    color: #FF00FFFF;
}